/* .panelContainer {
    margin-bottom: 40px;
} */

.panelTitle {
  position: relative;
  padding-top: 40px;
  /* margin-left: 20px; */
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
}

.titleSpan {
  font-weight: 700;
}

.panelBar {
  margin-top: 20px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .panelContainer {
    width: 100%;
    /* height: 56px; */
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
  }
  .panelTitle {
    padding-top: 41px;
    /* margin-left: 32px; */
    font-size: 36px;
    line-height: 1.05556;
  }

  /* .panelBar {
    margin-right: 32px;
  } */
    
  }

