.chooseDate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-main);
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1024px) {
  .chooseDate {
    justify-content: flex-start; /* Для планшета смещаем текст */
  }

  .dateText {
    font-size: 22px; /* Увеличиваем текст */
  }
}
