.progressBarContainer {
  width: 255px;
  height: 66px;
  background-color: var(--color-white); /* Используем переменную */
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 12px;
  position: relative;
}

.progressBarTitle {
  font-size: 15px;
  font-weight: 700; /* Используем шрифт из глобальных стилей */
  color: var(--color-darkblue); /* Используем переменную */
  position: absolute;
  top: 6px;
  left: 12px;
  margin: 0;
}

.progressBarTrack {
  width: 100%;
  height: 8px;
  background-color: var(--color-lightgray); /* Используем переменную */
  border-radius: 4px;
  position: relative;
  margin-top: 25px;
}

.progressBarFill {
  height: 100%;
  background-color: var(--color-lightgreen); /* Используем переменную */
  border-radius: 4px;
  transition: width var(--animation); /* Используем переменную для анимации */
}

.progressBarThumb {
  width: 12px;
  height: 12px;
  background-color: var(--color-white); /* Используем переменную */
  border: 1px solid var(--color-lightgreen); /* Используем переменную */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.progressBarLabels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--color-blacksemi); /* Используем переменную */
  margin-top: 8px;
}
