.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-darkblue); /* Используем переменную */
  color: var(--color-white); /* Используем переменную */
  font-size: 16px;
  font-weight: 700; /* Используем шрифт из глобальных стилей */
  line-height: 24px;
  border: none;
  border-radius: 30px;
  padding: 18px 30px;
  gap: 10px;
  cursor: pointer;
  transition: background-color var(--animation); /* Используем переменную */
}

.button:hover {
  background-color: #3a4752; /* Можно добавить новую переменную, если требуется */
}

.icon {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  align-items: center;
}
