.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darkblue-translucent);
}

.modalContent {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  border-radius: 15px;
}

.closeBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
 
}

.iconClose {
  width: 28px;
  height: 28px;
  fill: var(--color-black);
  color: var(--color-black);
  stroke: var(--color-black);
}


