.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 343px;
  height: 415px;
  padding: 16px;
  background-color: var(--color-lightgreen);
  border-radius: 30px;
  position: relative;
  margin: 16px auto;
}

.logoContainer {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 114px;
  height: 20px;
}

.bottleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 41px;
  width: 262px;
  height: 335px;
}

.bottleImage {
  width: 100%;
  height: auto;
}

.progressBarContainer {
  position: absolute;
  top: 225px;
  left: 73px;
}

@media (--tablet-bp) {
  .mainContainer {
    max-width: 500px;
    height: auto;
  }
  .progressBarContainer {
    width: 250px;
  }
}

@media (--desktop-bp) {
  .mainContainer {
    max-width: 800px;
    padding: 32px;
  }
  .progressBarContainer {
    width: 300px;
  }
}
