/* Основной контейнер */
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 343px;
  height: 415px;
  padding: 16px;
  background-color: var(--color-lightgreen);
  border-radius: 30px;
  position: relative;
  margin: 16px auto;
}

/* Контейнер для изображения бутылки */
.bottleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 41px;
  width: 262px;
  height: 335px;
}

.bottleImage {
  width: 100%;
  height: auto;
}

/* Адаптивные стили для планшетов */
@media (min-width: 768px) and (max-width: 1024px) {
  .mainContainer {
    max-width: 704px;
    height: 578px;
    padding: 32px;
  }

  .bottleContainer {
    top: 69px;
    left: 165px;
    width: 374px;
    height: 477px;
  }
}

/* Адаптивные стили для десктопов */
@media (min-width: 1025px) {
  .mainContainer {
    max-width: 800px;
    height: 600px;
    padding: 40px;
  }

  .bottleContainer {
    top: 80px;
    left: 200px;
    width: 450px;
    height: 550px;
  }
}
