.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-top: 32px;
  padding-left: 33px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  max-width: 152px;
  height: auto;
}
