.dailyInfo {
  position: absolute;
  top: 182px;
  left: 20px;
  width: 100%;
  max-width: 465px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-lightgray);
  border-radius: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
  height: 30px;
}

.waterListContainer {
  height: 74px;
  overflow-x: auto;
  background-color: var(--color-lightgray);
  overflow: hidden;
}

.progressBar {
  width: 100%;
  max-width: 303px;
  height: 8px;
  border-radius: 9px;
  background-color: var(--color-white);
}

.progressFill {
  height: 100%;
  width: 0%;
  background-color: var(--color-darkblue);
  border-radius: 4px;
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1440px) {
  .dailyInfo {
    max-width: 640px;
    height: 174px;
    gap: 20px;
  }

  .header {
    width: 640px;
    height: 32px;
  }

  .waterListContainer {
    height: 86px;
  }

  .progressBar {
    max-width: 640px;
  }
}

@media (min-width: 1440px) {
  .dailyInfo {
    width: 608px;
    height: 142px;
    gap: 32px;
  }

  .header :global(.AddWaterButton) {
    display: none;
  }

  .header .ChooseDate {
    font-size: 28px;
  }
}

.waterListContainer {
  overflow-x: auto;
  scrollbar-width: none; /* Скрываем скроллбар для Firefox */
}

.waterListContainer::-webkit-scrollbar {
  display: none; /* Скрываем скроллбар для Chrome/Safari */
}

.waterListContainer.noScroll {
  overflow-x: hidden !important; /* Принудительное отключение скролла */
  scrollbar-width: none; /* Подстраховка для Firefox */
}
