.container {
  width: 102px;
  height: 54px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 12px;
}

.amount {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-darkblue);
  margin-bottom: 6px;
}

.label {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: var(--color-blacksemi);
}
